{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card border-secondary mb-3">
  <div class="card-header"><h1>Metas 3P</h1></div>
  <div class="card-body text-secondary">
        <p class="card-text">Metas referentes as marcas Americanas.com, Submarino, Shoptime e Sou Barato</p>
        <p class="card-text">* Os campos com o final Shoptime, são aplicáveis apenas para uma meta Shoptime</p>
      <hr class="my-4">
  </div>

  <div class="container">
    <form action="" method="post" autocomplete="on">
        {% csrf_token %}
        {{form_3p|crispy}}
        <button type="submit" class="btn btn-outline-primary">Cadastrar</button>
        </p>
    </form>
  </div>
</div>
{% endblock %}
