{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card border-secondary mb-3">
  <div class="card-header"><h1>Metas 1P</h1></div>
  <div class="card-body text-secondary">
    <p class="card-text">Brands: Americanas.com, Submarino and Sou Barato.</p>
      <hr class="my-4">
  </div>

  <div class="container">
    <form action="" method="post" autocomplete="on">
        {% csrf_token %}
        {{form_1p|crispy}}
        <button type="submit" class="btn btn-outline-primary">Submit</button>
        </p>
    </form>
  </div>
</div>
{% endblock%}
