{% extends "base.html" %}

{% block content %}

    <script>
        function validateForm() {
          var x = document.forms["myForm"]["1p_csv_file"].value;
          if (x == "" || x == null || !x.includes(".csv")) {
            alert("Please select a CSV file");
            return false;
          }
        }

    </script>

    <div class="card border-secondary mb-3">
      <div class="card-header"><h1>Upload 1P</h1></div>
      <div class="card-body text-secondary">
        <h5 class="card-title">Baixar modelo de arquivo</h5>
          <a href="/media/modelos/modelo_1p.csv" download>
            <button type="button" class="btn btn-outline-primary" >Baixar</button>
          </a>
          <hr class="my-4">
        <p class="card-text">Selecione o arquivo de metas 1P para upload</p>

          <form name="myForm" action="." onsubmit="return validateForm()" method="post" required enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" class="file-path validate" name="1p_csv_file" accept=".csv">
            <button type="submit" class="btn btn-outline-primary" >Submeter</button>
        </form>
      </div>
    </div>

    {% if status %}
        <div class="alert alert-primary role="alert">
          <p><a href="{{ status }}"></a> {{ status }}</p>
        </div>
    {% endif %}

    {% if message %}
        <div class="alert alert-primary" role="alert">
          <p><a href="{{ message }}"></a> {{ message }}</p>
        </div>
    {% endif %}

    {% if expected %}
        <div class="alert alert-primary" role="alert">
          <p><a href="{{ expected_fields }}"></a> {{ expected }}</p>
        </div>
    {% endif %}

{% endblock %}
