{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Metas 1P</h1>
    <p>Cadastrar metas da Americanas.com, Submarino, Shoptime ou Soubarato.</p>
</div>
<!--<div class="">-->
<!--  <h1>-->
<!--    {% if not form.instance.pk %}-->
<!--      <p>Criar Meta 1P</p>-->
<!--    {% else %}-->
<!--      <p>Atualizar Meta 1P</p>-->
<!--    {% endif %}-->
<!--  </h1>-->
<!--</div>-->
<div class="container">
    <form class="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="btn btn-outline-dark" name="" value="Cadastrar">
      </form>
    </form>
  </div>
{% endblock%}
