{% extends 'base.html' %}

{% block content %}


<div class="card border-secondary mb-3">
  <div class="card-header"><h1>Gerenciamento de Metas 1P e 3P</h1></div>
  <div class="card-body text-secondary">
     <p>{% if user.is_authenticated %} Seja bem-vindo {{ user.username }}!{%endif%}</p>
      <hr class="my-4">
     <p class="card-text"> 1P -  Americanas.com, Submarino e Sou Barato</p>
     <p class="card-text"> 3P -  Americanas.com, Submarino, Shoptime e Sou Barato</p>

  </div>
</div>

<!--    <h2>Home Page</h2>-->
<!--    <p>{% if user.is_authenticated %} Welcome {{ user.username }}{%endif%}</p>-->
{% endblock %}
