{% extends "forms_app/forms_app_base.html" %}

{% block body_block %}
<div class="jumbotron">
    <h1>Upload 3P</h1>
    <p>Upload arquivos</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="3p_csv_file">
        <button type="submit">Upload file</button>
    </form>

    {% if status %}
        <p></p>
        <p></p>
        <p><a href="{{ status }}"></a> {{ status }}</p>
    {% endif %}

    {% if mensagem %}
        <p></p>
        <p></p>
        <p><a href="{{ mensagem }}"></a> {{ mensagem }}</p>
    {% endif %}
</div>

<!--<div class="content">-->
<!--    {% if arquivo %}-->
<!--        <p></p>-->
<!--        <p></p>-->
<!--        <p><a href="{{ arquivo }}"></a> {{ arquivo }}</p>-->
<!--    {% endif %}-->
<!--</div>-->
{% endblock body_block %}