{% extends 'forms_app/forms_app_base.html' %}

{% block body_block %}

  <div class="jumbotron">
      <!-- <h1>Metas {{meta1p_detail.nome}}</h1> -->
      <!-- <p>{{meta1p_detail.descricao}}</p> -->
      <!-- <a class='btn btn_warning' href="{% url 'forms_app:update' pk=plataforma_detail.pk%}">Update</a> -->
       <!-- <button type="button" name="button" href="{% url 'forms_app:update' pk=plataforma_detail.pk%}">teste</button> -->
  </div>

  <!-- <div class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Marca</th>
          <th scope="col">Cód. Depto.</th>
          <th scope="col">Cód Sub. Depto.</th>
          <th scope="col">Cód. Segmento</th>
          <th scope="col">Cód. Marca Própria</th>
          <th scope="col">Disp. Origem</th>
          <th scope="col">Unid. Negócio</th>
          <th scope="col">Dia</th>
          <th scope="col">Valor Calculado</th>
          <th scope="col">% Meta Orçada</th>
        </tr>
      </thead>

    <tbody>
      {% for meta in plataforma_detail.metas.all %}
      <tr>
        <td>{{meta.pk}}</td>
        <td>{{meta.marca}}</td>
        <td>{{meta.cod_departamento}}</td>
        <td>{{meta.cod_subdepartamento}}</td>
        <td>{{meta.cod_segmento}}</td>
        <td>{{meta.cod_marca_propria}}</td>
        <td>{{meta.cod_dispositivo_origem}}</td>
        <td>{{meta.cod_unidade_negocio}}</td>
        <td>{{meta.dia}}</td>
        <td>{{meta.valor_calculado}}</td>
        <td>{{meta.percentual_margem_orcada}}</td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </div> -->
{% endblock %}
